apispec==6.6.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
flask-smorest==0.44.0
greenlet==3.0.3
inquirerpy==0.3.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-sqlalchemy==1.0.0
new-flask-app==1.0.4
packaging==24.1
pfzy==0.3.4
prompt_toolkit==3.0.47
psycopg2-binary==2.9.9
PyJWT==2.8.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
wcwidth==0.2.13
webargs==8.4.0
Werkzeug==3.0.3
